firebase_admin==5.2.0
google_api_python_client==2.52.0
matplotlib==3.5.2
nltk==3.7
numpy==1.22.4
pandas==1.4.2
plotly==5.8.2
streamlit==1.10.0
textblob==0.17.1
toml==0.10.2
torch==1.11.0
transformers==4.20.0
wordcloud==1.8.1
