google_api_python_client==2.61.0
matplotlib==3.5.2
nltk==3.7
numpy==1.22.4
pandas==1.4.2
plotly==5.8.2
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
streamlit==1.12.2
streamlit_option_menu==0.3.2
supabase==0.5.8
textblob==0.17.1
toml==0.10.2
torch==1.11.0
transformers==4.20.0
wordcloud==1.8.1
