body {
  color: #fff;
  background-color: #4f8bf9;
}

.stButton > button {
  border-radius: 5px;
  height: 3em;
  width: 100%;
}

.stButton > button:hover {
  border-radius: 5px;
  height: 3em;
  width: 100%;
}

.appview-container .main .block-container {
  max-width: 1000px;
}
