body {
  color: #fff;
  background-color: #4f8bf9;
  overflow: -moz-scrollbars-vertical;
  padding-left: 30px;
  overflow-x: hidden;
  overflow-y: auto;
}

.stButton > button {
  border-radius: 5px;
  height: 3em;
  width: 100%;
}

.stButton > button:hover {
  border-radius: 5px;
  height: 3em;
  width: 100%;
}

/* .appview-container .main .block-container {
  max-width: 800px;
} */
